// Custom styles.
/*--------read more-------------*/
.post-button .btn:hover {
  border-color: #222;
  color: #222;
  background: #fff;
}
.post-button {
  margin-top: 50px;
}
.post-button .btn {
  color: #555;
  font-size: 14px;
  background: transparent;
  border-radius: 0;
  line-height: 2;
  margin: 0 4px 8px 4px;
}
.post-button .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
.post-button {
  margin-top: 20px;
  text-align: left;
}
.post-button a {
  margin: 0 8px 8px 0 !important;
  padding: 0;
  font-size: 14px;
  color: #666;
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  transition-property: border;
}
@media (max-width: 767px) {
  .post-button a {
    font-size: 12px;
  }
}
@media (min-width: 1600px) {
  .post-button a {
    font-size: 16px;
  }
}
.post-button a:hover {
  border-bottom-color: #222;
}
.post-button {
  margin-top: 30px;
  text-align: right;
}
.post-button .btn {
  color: #fff;
  font-size: 15px;
  background: #686868;
  border-radius: 16px;
  line-height: 2;
  margin: 0 4px 8px 4px;
  padding: 0 20px;
}
.post-button a {
  border-bottom: 1px solid #666;
}
.post-button a:hover {
  color: #7784ba;
}
/*-------------标签的样式---------------*/
.post-tags a {
	display: inline-block;
	height: 20px
	position: relative;
	margin: 10px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;

	color: #515151;
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(top, color-stop(0%,#e6e6e6), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%, #e6e6e6 100%); /* Chrome10+,Safari5.1+ */ /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #eaeaea 0%,#e6e6e6 100%); /* W3C */
}
/*----------调整首页-----------*/
.post-body hr {
	margin-top: 1em;
	margin-bottom: 1em;
}
.posts-expand .post-eof {
  display: none;
}
// 主页文章添加边框阴影效果
.post {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.post-header div.post-meta {
    margin-bottom: 2em;
}
/*----------disqus按钮-----------*/
.disbtn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    background: #222;
    border: 2px solid #222;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
}

.disbtn:hover {
  border-color: #222;
  color: #222;
  background: #fff;
}
/*--------Code---------*/

//手机显示格式调整
@media screen and (max-width: 900px) {
  #posts {
      margin-left: 0px;
      margin-right: 0px;
  }
  p {
      padding-left: 1%;
      padding-right: 0px;
      margin-left: 1%;
  }
  .post.post-type-normal {
    padding-left: 1%;
      padding-right: 1%;
  }
  ul, ol{
  	margin-left: .5em;
    padding-left: 5%;
  }
  .note {
  	margin-left: .5em;
  	
  }
  .post-button.text-center {
    margin-top: 0px;
  }
  blockquote {
  	margin-left: 1em;
    padding-left: 1%;
    padding-right: 1%;
  }
  .content-wrap {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

	 .post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
	    border-left: 4px solid rgb(11, 152, 173);
	    margin-left: 0px;
	    padding-left: .5em;
    	padding-bottom: .5em;

	}


}

/*---------底色调整---------*/
body, .sidebar-inner, .header-inner, #sidebar, .content-wrap {
  background: #fefefb ;
}

header#header {
  border-bottom: 1px solid rgb(238, 238, 238);
  background: #fefefb
}
footer#footer {
  border-top: 1px solid rgb(238, 238, 238);
  background: #fefefb
}

/*--------侧边栏边框阴影效果---------*/
 .sidebar-inner, .header-inner {
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

/*--------自定义文本居中引号效果---------*/
.blockquote-center {
  font-size: 125%
}

/*--------自定义的引用样式---------*/
blockquote:not(.blockquote-center) {
    color: #111;
    border-left: 3px solid rgb(54, 69, 82);
    background-color: rgb(246, 247, 246);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}
@media screen and (min-width: 901px) {
	/*--------文章内标题样式（左边的竖线）---------*/
	.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    	border-left: 4px solid rgb(11, 152, 173);
   		margin-left: -25px;
    	padding-left: 32px;
    	padding-bottom: .5em;
	}

  .posts-expand .post-body .fancybox img.img-right {
max-width: 300px;
  max-height: 1800px;
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: right;
  clear: right;
}

.posts-expand .post-body .fancybox img.img-left {
max-width: 300px;
  max-height: 1800px;
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: left;
  clear: left;
}

.posts-expand .post-body .fancybox img.img-logo {
  max-width: 180px;
  max-height: 96px;
  display: block;
  margin-right: .7em;
  margin-left: .7em;
  padding: 0;
  float: right;
  clear: right;
}
}


// 自定义的文章图片样式
img.img-topic {
    width: 100%;
}


  
  
// 音乐播放器aplayer
.aplayer {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STHeiti, "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", source-han-sans-simplified-c, sans-serif !important;
}
.aplayer-withlrc.aplayer .aplayer-info {
    background-color: rgb(255, 255, 255);
}
// 音乐播放器aplayer歌单
.aplayer .aplayer-list ol {
    background-color: rgb(255, 255, 255);
}
// 修视频播放器dplayer页面全屏的bug
.use-motion .post-body {
    transform: inherit !important;
}

// 自定义替代description的样式
p.description{
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #666;
    margin-top: 30px;
    margin-bottom: 0;
}

//首页文章间距
#post article.post, .post-type-normal{
	
    margin-bottom: 3.5em;

}

//取消评论部分显示
.hcc.hc__top {
  display: none;
}

//推荐文章样式
div .recommonded{
  border-left: 4px solid rgb(66, 203, 127); 
  padding-left: 2em;
  padding-bottom: .5em;
  background-color: #f8fff0;
  padding-top: 1px;
}

.recommonded a{
  font-size: 15px;
}
.recommonded h3{
  
    margin-top: .5em;
    margin-bottom: .4em;

}
 
/*---- 代码高亮 JS 相关样式表 ----*/
pre {
  position: relative;
  padding: 0;
}

code.has-numbering {
  margin-left: 2.5rem;
}

code.has-numbering::-webkit-scrollbar {
  display: none;
}

.pre-numbering {
  margin: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.pre-numbering li {
  list-style-type: decimal-leading-zero !important;
}

@media (max-width: 760px) {
  .post-body pre {
    padding: 0px;
  }

  .post-body .pre-numbering {
    display: none;
  }

  code.has-numbering {
    margin: 0;
  }
}

