// Custom styles.
/*--------read more-------------*/
.post-button .btn:hover {
  border-color: #222;
  color: #222;
  background: #fff;
}
.post-button {
  margin-top: 50px;
}
.post-button .btn {
  color: #555;
  font-size: 14px;
  background: transparent;
  border-radius: 0;
  line-height: 2;
  margin: 0 4px 8px 4px;
}
.post-button .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
.post-button {
  margin-top: 20px;
  text-align: left;
}
.post-button a {
  margin: 0 8px 8px 0 !important;
  padding: 0;
  font-size: 14px;
  color: #666;
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  transition-property: border;
}
@media (max-width: 767px) {
  .post-button a {
    font-size: 12px;
  }
}
@media (min-width: 1600px) {
  .post-button a {
    font-size: 16px;
  }
}
.post-button a:hover {
  border-bottom-color: #222;
}
.post-button {
  margin-top: 30px;
  text-align: right;
}
.post-button .btn {
  color: #fff;
  font-size: 15px;
  background: #686868;
  border-radius: 16px;
  line-height: 2;
  margin: 0 4px 8px 4px;
  padding: 0 20px;
}
.post-button a {
  border-bottom: 1px solid #666;
}
.post-button a:hover {
  color: #7784ba;
}
/*-------------标签的样式---------------*/
.post-tags a {
	display: inline-block;
	height: 20px
	position: relative;
	margin: 10px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;

	color: #515151;
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e1e1 0%, #c7c5c5 100%); /* FF3.6+ */
	background: -webkit-gradient(top, color-stop(0%,#e1e1e1), color-stop(100%,#c7c5c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e1e1e1 0%, #c7c5c5 100%); /* Chrome10+,Safari5.1+ */ /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1e1e1 0%,#c7c5c5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1e1e1 0%,#c7c5c5 100%); /* IE10+ */
	background: linear-gradient(top,  #e1e1e1 0%,#c7c5c5 100%); /* W3C */
}
//fork on me 小屏幕适配
@media screen and (max-width: 990px) {
	.fork_on_me {
		width: 90px;
		height: 90px;
		position: absolute;
		top: 90px;
		left: 0px;
		border: 0px;
	}
}
@media screen and (min-width: 991px) {
	.fork_on_me {
		position: absolute;
		top: 0px;
		left: 0px;
		border: 0px;
	}
}
//外观调整
body, .sidebar-inner, .site-nav, .content-wrap {
  background: #fefefb ;
}

.content-wrap {
    padding-left: 10px;
    padding-right: 10px;
}

header#header {
  border-bottom: 1px solid rgb(238, 238, 238);
  background: #fefefb
}
footer#footer {
  border-top: 1px solid rgb(238, 238, 238);
  background: #fefefb
}
.sidebar {
  background: linear-gradient(-70deg, #1a1a19, rgba(34, 34, 29, 0.78));
}
.posts-expand .post-eof {
  display: none;
}
.index-post-body hr, .post-body hr {
	margin: 0px 0px 15px;
}
.index-post-body p {
	margin-left: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
	border-left: 3px solid rgb(130, 185, 183);
	//border-top: 1px solid rgb(238, 238, 238);
}
// 主页文章添加边框阴影效果
 .post {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
//调整每篇文章最后的“THE End”样式
.passage-end {
  font-family: "ShelleyAndanteScript-Normal"
}

//代码样式
code {
  padding: 2px 6px;
  word-wrap: break-word;
  color: #c82829;
  background: #f9f2f4;
  border-rdius: 3px;
  font-size: 14px;
}
// 大代码块的自定义样式
.highlight, pre {
margin: 5px 0;
padding: 5px;
border-radius: 3px;
}
.highlight, code, pre {
border: 1px solid #d6d6d6;
}
